In [2]:
import json
import pandas as pd

# Opening JSON file
f = open('../data/raw/CMS_2010_to_June_2022_ENGLISH.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

df = pd.DataFrame.from_dict(data)

print(df.head())

del data

         id                                               name  \
0  16489913                 UN imposes sanctions on DRC rebels
1  16489912            Catholic Church abuse hotline goes cold
2  16489903  "Fiscal cliff" tax hikes go into effect in the US
3  16490025  Kim seeks reconciliation with South, economic ...
4  16490029  Senate-approved fiscal deal faces House consid...

                    shortTitle  \
0      UN sanctions DRC rebels
1                 Disconnected
2  US goes over "fiscal cliff"
3    A rare New Year's address
4   US House mulls fiscal deal

                                                text  \
0  <p>\n\tThe UN Security Council has sanctioned ...
1  <p>\n\tFor two and a half years, the counselin...
2  <p>\n\tAs the clock struck midnight in Washing...
3  <p>\n\tKim Jong Un, who came to office just ov...
4  <p>\n\tLess than two hours after the US had of...

                                              teaser  \
0  A UN Security Council sanctions committee has ...
1  The Catholic Church in Germany has closed its ...
2  A series of tax hikes and spending cuts have g...
3  North Korea's leader has used a rare New Year’...
4  The US Senate has approved a bill to stop a se...

                                         shortTeaser kicker regions  \
0                                                      None      []
1  The Catholic Church has shut down a hotline fo...   None      []
2                                                      None      []
3                                                      None      []
4                                                      None      []

                                            keywords  \
0  [{'name': 'DRC'}, {'name': 'M23'}, {'name': 'F...
1  [{'name': 'telephone'}, {'name': 'hotline'}, {...
2  [{'name': 'fiscal cliff'}, {'name': 'Obama'}, ...
3  [{'name': 'Kim Jong Un'}, {'name': 'Kim Jong I...
4  [{'name': 'fiscal cliff'}, {'name': 'US Senate...

                                      keywordStrings  ...  \
0  [DRC, M23, FDLR, Rwanda, Susan Rice, UN securi...  ...
1  [telephone, hotline, helpline, Catholic Church...  ...
2  [fiscal cliff, Obama, congress, spending cuts,...  ...
3  [Kim Jong Un, Kim Jong Il, Kim Il Sung, lee my...  ...
4  [fiscal cliff, US Senate, Senate vote, fiscal ...  ...

                                        contentLinks  \
0  [{'name': None}, {'name': 'Goma residents fear...
1  [{'name': None}, {'name': None}, {'name': None...
2  [{'name': None}, {'name': '2012 defined by leg...
3  [{'name': None}, {'name': 'South Korea condemn...
4  [{'name': None}, {'name': 'Soft landing as US ...

                                            articles isOpinion  \
0  [{'name': 'Goma residents fear renewed conflic...     False
1                                                 []     False
2  [{'name': '2012 defined by legislative gridloc...     False
3  [{'name': 'South Korea condemns North Korea's ...     False
4       [{'name': 'US reaches 'fiscal cliff' deal'}]     False

  geographicLocations                                contentAssociations  \
0                  []  [{'id': 30420921}, {'id': 30420923}, {'id': 30...
1                  []  [{'id': 30420944}, {'id': 30420945}, {'id': 30...
2                  []  [{'id': 30420865}, {'id': 30420867}, {'id': 30...
3                  []  [{'id': 30421237}, {'id': 30421239}, {'id': 30...
4                  []  [{'id': 30421071}, {'id': 30421073}, {'id': 30...

                                mainContentImageLink  \
0  {'description': 'Kongo M23 Rebellen ziehen aus...
1                                {'description': ''}
2                                {'description': ''}
3                                {'description': ''}
4                                {'description': ''}

                                              images externalLinks topStory  \
0  [{'name': 'Kongo M23 Rebellen ziehen aus beset...            []    False
1  [{'name': 'Symbolbild Missbrauch Opfer'}, {'na...            []    False
2  [{'name': 'Barack Obama PK Silvester Haushalts...            []    False
3  [{'name': 'Nordkorea Neujahrsansprache von Kim...            []    False
4  [{'name': 'USA Senat Fiskalklippe Verhandlunge...            []    False

  language
0     None
1     None
2     None
3     None
4     None

[5 rows x 28 columns]

In [2]:
for c in df.columns:
    print(c)

id
name
shortTitle
text
teaser
shortTeaser
kicker
regions
keywords
keywordStrings
thematicFocusCategory
navigations
categories
departments
firstPublicationDate
lastModifiedDate
contentDate
relatedAutoTopics
contentLinks
articles
isOpinion
geographicLocations
contentAssociations
mainContentImageLink
images
externalLinks
topStory
language

In [3]:
df['lastModifiedDate'] = pd.to_datetime(df['lastModifiedDate'])

In [4]:
df = df.set_index(['lastModifiedDate'])

In [5]:
start_date = '2019-01-01'
end_date = '2022-01-01'
df_small = df.loc[start_date:end_date]

/home/wojciech/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
del df

In [7]:
df_small['thematicFocusCategory'].head()

lastModifiedDate
2019-01-01 03:57:28.904000+00:00            {'name': 'Science'}
2019-01-01 06:11:50.527000+00:00    {'name': 'Law and Justice'}
2019-01-01 06:14:35.563000+00:00           {'name': 'Politics'}
2019-01-01 08:26:11.599000+00:00              {'name': 'Crime'}
2019-01-01 09:05:00.736000+00:00           {'name': 'Politics'}
Name: thematicFocusCategory, dtype: object

In [8]:
categories = pd.read_csv('/home/wojciech/Desktop/GitHub/Spring23_DW/data/raw/categories.csv')
categories.head()

               first_level             second_level is_primary
0  Cars and Transportation  Cars and Transportation        yes
1                Education                Education        yes
2          Learning German          Learning German        yes
3            Digital World            Digital World        yes
4                  History                  History        yes

In [9]:
to_replace = categories.loc[categories['is_primary'] == 'no']   #We're only replacing secondary categories
to_replace

        first_level       second_level is_primary
10          Culture       Architecture         no
11          Culture             Design         no
12          Culture               Film         no
13          Culture               Arts         no
14          Culture         Literature         no
15          Culture              Music         no
16          Culture              Dance         no
17          Culture            Theater         no
25         Politics          Conflicts         no
26         Politics          Terrorism         no
28  Law and Justice         Corruption         no
29  Law and Justice              Crime         no
30  Law and Justice        Rule of Law         no
31  Law and Justice      Press Freedom         no
33     Human Rights          Diversity         no
34     Human Rights  Freedom of Speech         no
35     Human Rights           Equality         no
42         Business              Trade         no
43         Business      Globalization         no
44         Business      Food Security         no

In [10]:
to_replace = dict(zip(to_replace['second_level'], to_replace['first_level']))
to_replace

{'Architecture': 'Culture',
 'Design': 'Culture',
 'Film': 'Culture',
 'Arts': 'Culture',
 'Literature': 'Culture',
 'Music': 'Culture',
 'Dance': 'Culture',
 'Theater': 'Culture',
 'Conflicts': 'Politics',
 'Terrorism': 'Politics',
 'Corruption': 'Law and Justice',
 'Crime': 'Law and Justice',
 'Rule of Law': 'Law and Justice',
 'Press Freedom': 'Law and Justice',
 'Diversity': 'Human Rights',
 'Freedom of Speech': 'Human Rights',
 'Equality': 'Human Rights',
 'Trade': 'Business',
 'Globalization': 'Business',
 'Food Security': 'Business'}

In [15]:
result = df_small.loc[df_small['thematicFocusCategory'].isnull()]
result[['id', 'name', 'thematicFocusCategory']]

,id,name,thematicFocusCategory
lastModifiedDate,,,
2019-01-03 08:18:56.426000+00:00,15907056,What is RSS?,None
2019-01-05 22:51:39.152000+00:00,46964511,Poland: 5 teenage girls die in 'escape room' fire,None
2019-01-06 11:29:27.969000+00:00,46970878,Egypt police officer killed defusing bomb at C...,None
2019-01-09 15:22:19.944000+00:00,46942844,Lara Babalola,None
2019-01-17 04:04:05.183000+00:00,47108931,Body of missing German tourist found in Australia,None
...,...,...,...
2021-12-23 12:29:25.281000+00:00,60206554,What’s your favorite drink for bringing in the...,None
2021-12-30 07:00:28.233000+00:00,60208740,What are you hoping for in 2022?,None
2021-12-30 11:46:09.471000+00:00,60294706,The Road to Happiness!,None
2021-12-30 11:57:57.170000+00:00,60295022,From Humble Beginning to Bundesliga Goal-gette...,None
2021-12-30 12:09:39.527000+00:00,60295164,Is Our Future AI?,None

In [16]:
df_small['date'] = df_small['lastModifiedDate'].dt.date
print(df_small['date'])

KeyError: 'lastModifiedDate'

In [51]:
type(df_small['thematicFocusCategory'].tolist())

list

In [29]:
df_small['thematicFocusCategoryPrimary'] = df_small['thematicFocusCategory'].replace(to_replace)
df_small[['thematicFocusCategory', 'thematicFocusCategoryPrimary']]

,thematicFocusCategory,thematicFocusCategoryPrimary
lastModifiedDate,,
2019-01-01 03:57:28.904000+00:00,{'name': 'Science'},{'name': 'Science'}
2019-01-01 06:11:50.527000+00:00,{'name': 'Law and Justice'},{'name': 'Law and Justice'}
2019-01-01 06:14:35.563000+00:00,{'name': 'Politics'},{'name': 'Politics'}
2019-01-01 08:26:11.599000+00:00,{'name': 'Crime'},{'name': 'Crime'}
2019-01-01 09:05:00.736000+00:00,{'name': 'Politics'},{'name': 'Politics'}
...,...,...
2021-12-31 16:30:16.648000+00:00,{'name': 'Politics'},{'name': 'Politics'}
2021-12-31 18:17:16.998000+00:00,{'name': 'Crime'},{'name': 'Crime'}
2021-12-31 18:39:03.911000+00:00,{'name': 'Health'},{'name': 'Health'}
2021-12-31 18:47:57.479000+00:00,{'name': 'Politics'},{'name': 'Politics'}
2021-12-31 20:38:11.201000+00:00,{'name': 'Health'},{'name': 'Health'}