In [15]:
import sys
# Add src folder to the path
sys.path.append('../src/')

from data.preprocess_keywords import make_cleaned_keywords_df
from data.make_datasets import get_data

# Specify wanted time range
start_date = '2022-01-01'
end_date = '2023-01-01'

# Path to data
data_file = '../data/raw/CMS_2010_to_June_2022_ENGLISH.json'

# Load and extract data within time range
df_subset = get_data(data_file, start_date, end_date)

# Cleans keywords and saves data as a dataframe
make_cleaned_keywords_df(df_subset, start_date, end_date)

Getting data...
Loading data DONE. Number of articles is 175659
Extracting data DONE. Number of articles from 2022-01-01 to 2023-01-01 is 5445
Cleaning step 1 out of 2 DONE. Number of unique keywords went from 9488 to 8953
Cleaning step 2 out of 2 DONE. Number of unique keywords went from 8953 to 8487
Finished. Data stored in ../data/interim/clean_keywords_2022-01-01_2023-01-01.json

### Load data

In [6]:
import pandas as pd

# Load data
filepath = '../data/interim/clean_keywords_' + start_date + '_' + end_date + '.json'
df_loaded = pd.read_json(filepath, orient ='split', compression = 'infer')

In [7]:
df_loaded

,id,lastModifiedDate,keywordStrings,keywordStringsCleanAfterFuzz,cleanFocusCategory
0,46912921,2019-01-01T03:57:28.904Z,"[NASA, OSIRIS-REx, Bennu, asteroid]","[nasa, osiris-rex, bennu, asteroid]",Science
1,46911356,2019-01-01T06:11:50.527Z,"[English Channel, migration, boats, illegal im...","[english channel, migration, boats, illegal im...",Law and Justice
2,46909694,2019-01-01T06:14:35.563Z,"[Brazil, Jair Bolsonaro, Chicago economics, Ha...","[brazil, jair bolsonaro, chicago economics, ha...",Politics
3,46912694,2019-01-01T08:26:11.599Z,"[Japan, Tokyo, Harajuku, attack]","[japan, tokyo, harajuku, attack]",Law and Justice
4,46910092,2019-01-01T09:05:00.736Z,"[Asia, Bangladesh, elections, Kamal Hossain, S...","[asia, bangladesh, elections, kamal hossain, s...",Politics
...,...,...,...,...,...
33824,60304782,2021-12-31T18:47:57.479Z,"[Putin, New Year, Coronavirus, Navalny, Ukraine]","[putin, new year, coronavirus, navalny, ukraine]",Politics
33825,60299904,2021-12-31T19:06:43.423Z,"[Germany, Olaf Scholz, New Year, New Year's ad...","[germany, olaf scholz, new year, new year's ad...",Politics
33826,60300458,2021-12-31T20:27:51.092Z,"[Colorado, wildfires, Boulder County, evacuati...","[colorado, wildfires, boulder county, evacuati...",Catastrophe
33827,60267980,2021-12-31T20:32:20.303Z,"[RCEP, Regional Comprehensive Economic Partner...","[rcep, regional comprehensive economic partner...",Business
33828,60304913,2021-12-31T20:38:11.201Z,"[France, birth control, contraception, contrac...","[france, birth control, contraception, contrac...",Health

In [13]:
from data.preprocess_keywords import get_items_with_substring

substring = '007'
lst_lst_keywords = df_loaded['keywordStringsCleanAfterFuzz']

indices_substring, lst_keywords_substring, keywords_substring = get_items_with_substring(lst_lst_keywords, substring)

for lst_kw in lst_keywords_substring:
    print(lst_kw)

['james bond', 'daniel craig', 'sean connery', '007', 'roger moore']