In [50]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'x' : [np.zeros(2), np.array([0,2])], 'y' : [np.array([3,2]),0], 'z' : [np.array([4,5]),np.zeros(2)], 't' : [np.array([3,4]),np.array([4,5])]})

In [51]:
df

            x       y           z       t
0  [0.0, 0.0]  [3, 2]      [4, 5]  [3, 4]
1      [0, 2]       0  [0.0, 0.0]  [4, 5]

In [52]:
df[df.applymap(lambda x: np.allclose(x, 0))] = np.nan

In [53]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [0, 2]     NaN     NaN  [4, 5]

In [12]:
df.replace(np.NaN, np.zeros(2))

TypeError: Invalid "to_replace" type: 'float'

In [13]:
df[df.eq(np.zeros(2)).any(axis=1)]

ValueError: Unable to coerce to Series, length must be 4: given 2

In [14]:
df.where(df == [np.zeros(2)])

ValueError: Unable to coerce list of <class 'numpy.ndarray'> to Series/DataFrame

In [15]:
df[df == np.zeros(2)]

ValueError: Unable to coerce to Series, length must be 4: given 2

In [23]:
df[df.applymap(lambda x: np.array_equal(x, np.zeros(2)))] = np.nan

ValueError: other must be the same shape as self when an ndarray

In [28]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [1, 2]       0     NaN  [4, 5]

In [30]:
df.replace(0, np.nan, inplace=True)

In [31]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [1, 2]       0     NaN  [4, 5]

In [40]:
df.replace(0, np.nan, inplace=True)

In [41]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [1, 2]       0     NaN  [4, 5]

In [17]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [1, 2]       0     NaN  [4, 5]

In [54]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [0, 2]     NaN     NaN  [4, 5]

In [60]:
df.mean(axis=1, numeric_only=True)

0   NaN
1   NaN
dtype: float64

In [59]:
df.loc[0,:].mean()

array([3.33333333, 3.66666667])

In [61]:
df = df._convert(numeric=True)

In [62]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [0, 2]     NaN     NaN  [4, 5]

In [80]:
df.sum(axis=1)

0    [10, 11]
1      [4, 7]
dtype: object

In [65]:
df.apply(lambda x: x.mean())

     x    y    z    t
0  0.0  3.0  4.0  3.5
1  2.0  2.0  5.0  4.5

In [97]:
blip = [df.loc[i,:].mean() for i in df.index]

In [98]:
pd.DataFrame({'col':blip})

                                        col
0  [3.3333333333333335, 3.6666666666666665]
1                                [2.0, 3.5]

In [95]:
df_test = pd.DataFrame(index=range(2),columns=range(1))

In [99]:
df.apply(lambda x: np.mean(x[x.notnull()]), axis=1)

0    [3.3333333333333335, 3.6666666666666665]
1                                  [2.0, 3.5]
dtype: object

In [96]:
df_test = df_test.append(pd.DataFrame([df.loc[i,:].mean() for i in df.index],index=range(2),columns=range(1)))

ValueError: 1 columns passed, passed data had 2 columns

In [91]:
df_test

          0         1
0       NaN       NaN
1       NaN       NaN
0  3.333333  3.666667
1  2.000000  3.500000

In [68]:
df.columns

Index(['x', 'y', 'z', 't'], dtype='object')

In [73]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [81]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'x' : [np.NaN, np.array([0,2])], 'y' : [np.array([3,2]),np.NaN], 'z' : [np.array([4,5]),np.NaN], 't' : [np.array([3,4]),np.array([4,5])]})

In [82]:
df

        x       y       z       t
0     NaN  [3, 2]  [4, 5]  [3, 4]
1  [0, 2]     NaN     NaN  [4, 5]

In [83]:
df.sum(axis=1)

0    [10, 11]
1      [4, 7]
dtype: object

In [87]:
df.mean(axis=1,skipna=True)

/home/ferdinand_t/venv/lib64/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0   NaN
1   NaN
dtype: float64